doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tushar - contact me
  link(rel='stylesheet' href='../public/css/contact.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" crossorigin="anonymous">
script(src='https://kit.fontawesome.com/9c5fe3b840.js' crossorigin='anonymous')
#header
  header
    nav
      ul
        li#left
          a(href='/' alt='') Tushar&apos;s Portfolio
        li#right
          a(href='/')
            i.fa-regular.fa-circle-xmark.fa-xl
    img(src='../public/Img/boy.png' alt='')
#section
  section
    h3 Thanks for taking the time to reach out. How can I help you today?
    form(action='/submit' method='post' id='contactform' validate)
      #container
        .inputbox#input1
          i.fa-regular.fa-user
          input#name(type='text' name='name' required data-error-message="Please enter a valid name" autocomplete="off")
          label(for='Name') Name:
          .popover(data-field='name')
        .inputbox#input2
          i.fa-regular.fa-envelope
          input#email(type='text' name='email' required data-error-message="Please enter a valid email" autocomplete="off")
          label(for='Email') Email:
          .popover(data-field='email')
        .mytextarea
          textarea#text(name='message' cols='30' rows='5' required minlength="0" maxlength="100" data-error-message="Please enter your message" autocomplete="off")
          label(for='message') Message:
          .popover(data-field='text')
        .forget
          label(for='')
            input(type='checkbox')
            | Subscribe me
        .button 
          button(type="submit") Submit
script(src='../public/js/contact.js')
