doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tushar - Potfolio
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
  link(rel='stylesheet' href='../public/css/style.css')
  // Responsive CSS
  link(rel='stylesheet' media='(max-width:1422px)' href='../public/css/responsive.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap' rel='stylesheet')
script(src='https://kit.fontawesome.com/9c5fe3b840.js' crossorigin='anonymous')
nav#navbar
  .left(onclick='fun()') Tushar&apos;s Portfolio
  .right
    ul
      li
        a.activebtn.homelink(href='/') Home
      li
        a#abouttag(href='/' data-bs-toggle='offcanvas' data-bs-target='#offcanvasWithBothOptions' aria-controls='offcanvasWithBothOptions') About
        #offcanvasWithBothOptions.offcanvas.offcanvas-start.text-bg-dark(data-bs-scroll='false' tabindex='-1' aria-labelledby='offcanvasWithBothOptionsLabel')
          .offcanvas-header
            h3#offcanvasWithBothOptionsLabel.offcanvas-title
              | About Me
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-subheading
            h5 Get to know me!
          .offcanvas-body
            p
              | Hello and welcome to my portfolio! I&apos;m 
              strong.highlightabouttext
                | Tushar
                | Vaid
              | , a passionate and driven student on a journey to learn and create.
            p
              | I&apos;m currently pursuing my Bachelor of Engineering in 
              strong.highlightabouttext Electronics and Communication Engineering
              |  at
              |                                     Thapar Institute of Engineering &amp; Technology. This website is a reflection of my
              |                                     dedication to learning, my love for 
              strong.highlightabouttext
                | web
                | development
              | , and my eagerness to share my projects and experiences
              |                                     with the world.
            p
              | I&apos;m open to 
              strong.highlightabouttext Job
              |  opportunities where I can
              |                                     contribute, learn and grow. If you have a good opportunity that matches my skills
              |                                     and experience then don&apos;t hesitate to contact me. Feel free to Connect or Follow me
              |                                     on my 
              span#linkedinlink Linkedin
              | .
            a#offcanvasbtn(href='/contact' type='button') Contact
      li#project
        a(href='#Project') Projects
        #dropdowncontent
          .rowcontent
            .cardcontent
              img.card-img-top(src='../public/Img/TextUtils.png' alt='...')
              .card-bodycontent
                h3.card-titlecontent TextUtils
                a.btn(href='https://text-utils-jade.vercel.app/' target="_blank")
                  | Visit 
                  i.fa-solid.fa-arrow-up-right-from-square
            .cardcontent
              img.card-img-top(src='../public/Img/PGLife.png' alt='...')
              .card-bodycontent
                h3.card-titlecontent PG Life
                a.btn(href='http://146.190.9.56/' target="_blank")
                  | Visit 
                  i.fa-solid.fa-arrow-up-right-from-square
            .cardcontent
              img.card-img-top(src='../public/Img//Gym.png' alt='...')
              .card-bodycontent
                h3.card-titlecontent Gym Website
                a.btn(href='http://64.227.176.178:3000/' target="_blank")
                  | Visit 
                  i.fa-solid.fa-arrow-up-right-from-square
      li
        a.contactlink(href='/contact') Contact Me
main#main
  section.firstsection
    .leftsection#reveal1
      p
        span#element1
          i.fa-solid.fa-hand-peace
          | Hi There! I&apos;m 
          span#purple Tushar
      span#element2
      span#element3
      .buttons
        a#btn2(href='https://drive.google.com/file/d/1dwXZw4ayMOtmaxeDcKcKe7az8C7mK4Qc/view?usp=sharing' target='_blank')
          span
          span
          span
          span
          |                             Resume
        a#btn3(href='https://github.com/ReX027' target='_blank')
          span
          span
          span
          span
          |                             Visit Github
    .rightsection#reveal2
      img(src='../public/Img/bg.png')
  hr
  section.secondsection
    #Project
      h2
        span Project Details
    .carousel.slide#carouselExample
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='../public/Img/TextUtils.png' alt='...')
          .card.carousel-img
            img.card-img-top(src='../public/Img/TextUtils.png' alt='...')
            .card.carousel-card  
              .card-body
                h5.card-title
                  | TextUtils 
                  span.badge.rounded-pill.text-bg-dark react
                p.card-text
                  | A web application built using react to help user
                  | to analyze text and manipulate with it.
                a.btn(href='https://text-utils-jade.vercel.app/' target="_blank")
                  | Visit 
                  i.fa-solid.fa-arrow-up-right-from-square
        .carousel-item
          img.d-block.w-100(src='../public/Img//PGLife.png' alt='...')
          .card.carousel-img
            img.card-img-top(src='../public/Img/PGLife.png' alt='...')
            .card.carousel-card
              .card-body
                h5.card-title
                  | PG Life 
                  span.badge.rounded-pill.text-bg-dark php
                p.card-text
                  | A LAMP stack website where one can find the perfect
                  | accommodation.
                a.btn(href='http://146.190.9.56/' target="_blank")
                  | Visit 
                  i.fa-solid.fa-arrow-up-right-from-square
        .carousel-item
          img.d-block.w-100(src='../public/Img/Gym.png' alt='...')
          .card.carousel-img
            img.card-img-top(src='../public/Img/Gym.png' alt='...')
            .card.carousel-card
              .card-body
                h5.card-title
                  | GYM 
                  span.badge.rounded-pill.text-bg-dark node
                p.card-text
                  | A GYM website built using pure pug and node.Js where user can
                  | book class.
                a.btn(href='http://64.227.176.178:3000/' target="_blank")
                  | Visit 
                  i.fa-solid.fa-arrow-up-right-from-square
      button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
        i.fa-solid.fa-hand-point-left.fa-2xl.carousel-control(aria-hidden='true' style='color: #c410d1;')
      button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
        i.fa-solid.fa-hand-point-right.fa-2xl.carousel-control(aria-hidden='true' style='color: #c410d1;')
  section.thirdsection
    #toolsdetail
      h2
        span Toolchain
    .box
      #items1.items React
      #items2.items Node
      #items3.items MongoDB
      #items4.items Javascript
      #items5.items ServiceNow
      #items6.items Notebook
footer
  .footer
    h3 Connect With Me
    ul
      li
        a(href='https://github.com/ReX027' target='_blank') 
          | Github
          i.fa-brands.fa-github
      li
        a(href='https://www.linkedin.com/in/tusharvaid/' target='_blank') 
          | Linkedin
          i.fa-brands.fa-linkedin
      li
        a(href='https://twitter.com/TusharV04843601' target='_blank') 
          | Twitter
          i.fa-brands.fa-x-twitter
      li
        a(href='mailto:your-tushar.vaid027@gmail.com' target="_blank")
          | Email
          i.fa-regular.fa-envelope
    p
      | Built from scratch 
      img(src='../public/Img/heart.png' alt='...' loading='lazy')
      |  &copy;
      |                     Copyright
      |                     2023 @Rex All rights Reserved
script(src='https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js')
script.
  var typed2 = new Typed('#element2', {
  strings: ['An Aspiring Web Developer'],
  typeSpeed: 100,
  showCursor: false
  });
  var typed3 = new Typed('#element3', {
  strings: ['I design and code beautifully simple things, and I love what I do.'],
  typeSpeed: 50,
  showCursor: false
  });
script(src='../public/js/script.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
