* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.rightsection img {
    width: 117%;
}

.carousel-item>img {
    height: 90vh;
}

/* Toolchain box */
.box {
    width: 70vw;
}

@media only screen and (min-width:1115px) and (max-width: 1279px) {
    .leftsection p {
        width: 70%;
    }

    /* Hover menu of Project nav */
    #project:hover {
        #dropdowncontent .rowcontent {
            width: 84%;
            height: 107%;
        }

        #dropdowncontent .rowcontent .cardcontent img {
            height: 50%;
            margin-top: 10px;
        }

        .card-titlecontent {
            font-size: 1.3rem;
        }
    }

    .firstsection .buttons {
        position: relative;
        left: 20%;
    }
}

@media only screen and (min-width:1024px) and (max-width: 1114px) {
    .leftsection p {
        width: 60%;
    }

    /* Hover menu of Project nav */
    #project:hover {
        #dropdowncontent .rowcontent {
            width: 84%;
            height: 107%;
        }

        #dropdowncontent .rowcontent .cardcontent img {
            height: 50%;
            margin-top: 10px;
        }

        .card-titlecontent {
            font-size: 1.3rem;
        }
    }

    .firstsection .buttons {
        position: relative;
        left: 20%;
    }
}

@media only screen and (min-width:813px) and (max-width:1023px) {

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 510px;
    }

    #first img {
        width: 103vw;
    }

    nav ul {
        width: 112%;
    }

    nav ul li {
        margin: 0 6px;
    }

    #project:hover {
        #dropdowncontent .rowcontent {
            width: 84%;
            height: 107%;
        }

        #dropdowncontent .rowcontent .cardcontent img {
            height: 50%;
            margin-top: 10px;
        }

        .card-titlecontent {
            font-size: 1.1rem;
        }
    }

    .firstsection {
        flex-direction: column;
        height: 128vh;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 0px;
        padding: 60px;
    }

    .leftsection p {
        width: 86%;
        position: relative;
        left: 0px;
    }

    #element2 {
        position: relative;
        left: 0px;
        margin-left: 0;
    }

    #element3 {
        position: relative;
        left: 0px;
        width: 70%;
        height: 6rem;
    }

    .reveal2.active {
        position: relative;
        bottom: 90px;
    }

    .firstsection .buttons {
        width: 40%;
        top: 46px;
        position: relative;
        left: 15%;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }


    .rightsection img {
        height: 115%;
        position: relative;
        padding-right: 0;
    }

    main hr {
        margin: 10px 50px;
    }

    /* Toolchain box */
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 25%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        font-size: 1.8rem;
    }

    /* Footer */
    .footer {
        width: 103vw;
    }

    .footer ul li a {
        margin: 0 -15px;
    }
}

@media only screen and (min-width:600px) and (max-width:812px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul {
        padding-right: 41px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    #project:hover {
        #dropdowncontent .rowcontent {
            width: 84%;
            height: 107%;
        }

        #dropdowncontent .rowcontent .cardcontent img {
            height: 50%;
            margin-top: 10px;
        }

        .card-titlecontent {
            font-size: 1rem;
        }
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    .firstsection {
        flex-direction: column;
        height: 128vh;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 0px;
        padding: 60px;
    }

    .leftsection p {
        width: 76%;
        left: 0px;
    }

    #element2 {
        position: relative;
        left: 0px;
        margin-left: 0;
        width: 61vh;
    }

    #element3 {
        width: 100%;
        left: 0px;
        height: 6rem;
    }

    .firstsection .buttons {
        width: 80%;
        top: 46px;
        position: relative;
        left: 15%;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        width: 149%;
        padding-left: 0;
        height: 110%;
        margin: 0px -40px;
    }

    .reveal2.active {
        position: relative;
        bottom: 117px;
    }

    main hr {
        margin: 10px 50px;
    }

    .carousel-inner {
        width: 100% !important;
        height: 80vh;
    }

    /* .carousel-item.active {
        height: 80vh;
    } */

    .card-body {
        height: 142px;
    }

    .card-body a {
        width: 55%;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-body h5 span {
        font-size: 0.5rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 59px;
        font-size: 1.2rem;
    }


    .card-body .btn {
        font-size: 0.8rem;
    }

    /* Toolchain box */
    #toolsdetail{
        margin-top:0px;
    }
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 30%;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 1rem;
    }

    .footer ul li {
        margin: 21px 6px;
    }

    .footer ul li a {
        padding: 0 18px;
    }
}


@media only screen and (min-width:500px) and (max-width:599px) {
    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul {
        padding-right: 41px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 300px;
    }

    .offcanvas-title {
        font-size: 1.2rem;
    }

    .offcanvas-subheading h5 {
        font-size: 1rem;
    }

    .offcanvas-body {
        font-size: 0.8rem;
    }

    #project:hover {
        #dropdowncontent .rowcontent {
            width: 84%;
            height: 107%;
        }

        #dropdowncontent .rowcontent .cardcontent img {
            height: 50%;
            margin-top: 10px;
        }

        .card-titlecontent {
            font-size: 1rem;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 54px;
        left: 0px;
    }

    .leftsection p {
        width: 75%;
        left: 30px;
    }

    #element1 {
        font-size: 1.4rem;
    }

    #element2 {
        width: 90%;
        margin-left: 0px;
        left: 35px;
        font-size: 1.5rem;
    }

    #element3 {
        height: 29%;
        left: 41px;
        width: 80%;
        font-size: 1.2rem;
    }

    .firstsection .buttons {
        position: relative;
        left: 6%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        width: 157%;
        height: 117%;
        margin: 0px -30px;
    }

    main hr {
        margin: 10px 15px;
    }

    .carousel-inner {
        width: 100% !important;
        height: 80vh;
    }

    .card-body a {
        width: 55%;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-body h5 span {
        font-size: 0.5rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .card-body .btn {
        font-size: 0.6rem;
        padding: 2px;
        height: 19px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 59px;
        font-size: 1.2rem;
    }

    .carousel-control-next {
        right: 4%;
    }

    .carousel-control-prev {
        left: 4%;
    }

    /* Toolchain box */
    #toolsdetail{
        margin-top:0px;
    }
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 39%;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }

    .fa-github {
        position: relative;
        left: 13px;
    }

    .fa-x-twitter {
        position: relative;
        left: 14px;
    }

    .fa-regular {
        position: relative;
        left: 19px;
    }

}

@media only screen and (min-width:412px) and (max-width:499px) {
    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul {
        padding-right: 5px;
    }

    nav ul li {
        margin: 0 3px;
    }

    nav ul li a {
        letter-spacing: 0;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 300px;
    }

    .offcanvas-title {
        font-size: 1.2rem;
    }

    .offcanvas-subheading h5 {
        font-size: 1rem;
    }

    .offcanvas-body {
        font-size: 0.8rem;
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 82px;
        left: 0px;
    }

    .leftsection p {
        width: 75%;
        left: 30px;
    }

    #element1 {
        font-size: 1.3rem;
    }

    #element2 {
        width: 90%;
        margin-left: 0px;
        left: 35px;
        font-size: 1.3rem;
    }


    #element3 {
        height: 29%;
        left: 41px;
        width: 80%;
        font-size: 1rem;
    }

    .firstsection .buttons {
        position: relative;
        left: 6%;
        top: 30px;
        width: 350px;
    }

    .firstsection .buttons a {
        font-size: 13px;

    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        /* margin: 23px -16px;
        width: 174%; */
        width: 157%;
        height: 117%;
        margin: 0px -30px;
    }

    main hr {
        margin: 0 22px;
    }

    #Project h2 span,
    #toolsdetail h2 span {
        font-size: 1.5rem;
    }

    .card.carousel-img {
        top: 47%;
        width: 55%;
    }

    .carousel-inner {
        width: 100% !important;
        height: 70vh;
    }

    .card-body a {
        width: 55%;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.65rem;
    }

    .card-body .btn {
        font-size: 0.6rem;
        padding: 2px;
        height: 19px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 59px;
        font-size: 1.1rem;
    }

    .carousel-control-next {
        right: 4%;
    }

    .carousel-control-prev {
        left: 4%;
    }

    /* Toolchain box */
    #toolsdetail{
        margin-top:0px;
    }
    .box {
        width: 85vw;
    }

    .box .items {
        width: 30%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.6rem;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer h3 {
        font-size: 1.5rem;
    }

    .footer p {
        font-size: 0.9rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }

    .fa-github {
        position: relative;
        left: 13px;
    }

    .fa-x-twitter {
        position: relative;
        left: 14px;
    }

    .fa-regular {
        position: relative;
        left: 19px;
    }
}

@media only screen and (min-width:360px) and (max-width:411px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
        padding: 15px 4px;
        right: 11px;
    }

    nav .left {
        position: relative;
        top: 20px;
        font-size: 1.3rem;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 220px;
    }

    .offcanvas-title {
        font-size: 1.1rem;
    }

    .offcanvas-subheading h5 {
        font-size: 0.95rem;
    }

    .offcanvas-body {
        font-size: 0.7rem;
    }

    #offcanvasbtn {
        position: relative;
        left: -4px;
        font-size: 0.5rem;
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 82px;
        left: 0px;
    }

    .leftsection p {
        width: 74%;
        left: 30px;
    }

    #element1 {
        font-size: 1.3rem;
    }

    #element2 {
        width: 75%;
        left: -39px;
        font-size: 1.3rem;
    }

    #element3 {
        height: 29%;
        font-size: 1rem;
        width: 80%;
        left: 44px;
    }

    .firstsection .buttons {
        position: relative;
        left: 6%;
        top: 30px;
        width: 350px;
    }

    .firstsection .buttons a {
        font-size: 11px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px -16px;
        width: 174%;
    }

    main hr {
        margin: 0 10px;
    }

    #Project h2 span,
    #toolsdetail h2 span {
        font-size: 1.3rem;
    }

    .card.carousel-img {
        top: 47%;
        width: 55%;
    }

    .carousel-inner {
        width: 100% !important;
        height: 70vh;
    }

    .card-body a {
        width: 55%;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.6rem;
    }

    .card-body .btn {
        font-size: 0.6rem;
        padding: 2px;
        height: 19px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 59px;
        font-size: 1rem;
    }

    .carousel-control-next {
        right: 4%;
    }

    .carousel-control-prev {
        left: 4%;
    }

    /* Toolchain box */
    #toolsdetail{
        margin-top:0px;
    }
    .box {
        width: 85vw;
    }

    .box .items {
        width: 30%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.6rem;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer h3 {
        font-size: 1.3rem;
    }

    .footer p {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }

    .fa-github {
        position: relative;
        left: 13px;
    }

    .fa-x-twitter {
        position: relative;
        left: 14px;
    }

    .fa-regular {
        position: relative;
        left: 19px;
    }
}

@media only screen and (min-width:321px) and (max-width:359px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
        padding: 15px 1px;
        right: 11px;
        font-size: 0.9rem;
    }

    nav .left {
        position: relative;
        top: 20px;
        font-size: 1.3rem;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 180px;
    }

    .offcanvas-title {
        font-size: 1rem;
    }

    .offcanvas-subheading h5 {
        font-size: 0.95rem;
    }

    .offcanvas-body {
        font-size: 0.6rem;
    }

    #offcanvasbtn {
        position: relative;
        left: -4px;
        font-size: 0.5rem;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 82px;
        left: 0px;
    }

    .leftsection p {
        width: 87%;
        left: 30px;
    }

    #element1 {
        font-size: 1.1rem;
    }

    #element2 {
        width: 87%;
        left: -51px;
        font-size: 1.1rem;
    }

    #element3 {
        height: 20%;
        font-size: 1rem;
        width: 89%;
        left: 29px;
    }

    .firstsection .buttons {
        position: relative;
        left: 6%;
        top: 30px;
        width: 300px;
    }

    .firstsection .buttons a {
        font-size: 10px;
    }

    .rightsection {
        width: 33%;
    }

    .rightsection img {
        margin: -30px -111px;
        width: 301%;
        padding-left: 75px;
        height: 378px;
    }
    #reveal2{
        position: relative;
        transform: translateX(300%);
        animation: transformreveal2 1s ease forwards;
    }
    main hr {
        margin: 0 10px;
    }

    #Project h2 span,
    #toolsdetail h2 span {
        font-size: 1.15rem;
    }

    .card.carousel-img {
        top: 47%;
        width: 55%;
    }

    .carousel-inner {
        width: 100% !important;
        height: 70vh;
    }

    .card-body a {
        width: 55%;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.6rem;
    }

    .card-body .btn {
        font-size: 0.6rem;
        padding: 2px;
        height: 19px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 59px;
        font-size: 1rem;
    }

    .carousel-control-next {
        right: 3%;
    }

    .carousel-control-prev {
        left: 3%;
    }

    /* Toolchain box */
    #toolsdetail{
        margin-top:0px;
    }
    .box {
        width: 85vw;
    }

    .box .items {
        width: 30%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.55rem;
        background-size: 15%;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer h3 {
        font-size: 1.15rem;
    }

    .footer p {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }
    .footer ul li {
        font-size: 0.9rem;
    }
    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }

    .fa-github {
        position: relative;
        left: 13px;
    }

    .fa-x-twitter {
        position: relative;
        left: 14px;
    }

    .fa-regular {
        position: relative;
        left: 19px;
    }
}

@media only screen and (min-width:200px) and (max-width:320px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
        padding: 15px 0px;
        right: 22px;
        font-size: 0.75rem;
    }

    nav .left {
        position: relative;
        top: 20px;
        font-size: 1.1rem;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 160px;
    }

    .offcanvas-title {
        font-size: 1rem;
    }

    .offcanvas-subheading h5 {
        font-size: 0.9rem;
    }

    .offcanvas-body {
        font-size: 0.55rem;
    }

    #offcanvasbtn {
        position: relative;
        left: -4px;
        font-size: 0.5rem;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 82px;
        left: 0px;
    }

    .leftsection p {
        width: 87%;
        left: 21px;
    }

    #element1 {
        font-size: 0.95rem;
    }

    #element2 {
        width: 87%;
        left: -53px;
        font-size: 0.95rem;
    }

    #element3 {
        height: 20%;
        width: 89%;
        left: 26px;
        font-size: 0.95rem;
    }

    .firstsection .buttons {
        position: relative;
        left: 6%;
        top: 30px;
        width: 300px;
    }

    .firstsection .buttons a {
        font-size: 10px;
    }

    .rightsection {
        width: 30%;
    }

    .rightsection img {
        margin: -30px -42px;
        width: 263%;
        padding-left: 0px;
        height: 308px;
    }
    #reveal2{
        position: relative;
        transform: translateX(300%);
        animation: transformreveal2 1s ease forwards;
    }

    main hr {
        margin: 0 10px;
    }
    #Project h2 span,
    #toolsdetail h2 span {
        font-size: 0.7rem;
    }
    /* Toolchain box */
    .box {
        width: 85vw;
    }

    .box .items {
        width: 28%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.5rem;
        background-size: 12%;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }
    .footer h3 {
        font-size: 0.8rem;
    }
    .card.carousel-img {
        top: 47%;
        width: 55%;
    }

    .carousel-inner {
        width: 100% !important;
        height: 70vh;
    }

    .card-body a {
        width: 55%;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.6rem;
    }

    .card-body .btn {
        font-size: 0.6rem;
        padding: 2px;
        height: 19px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 59px;
        font-size: 0.8rem;
    }

    .carousel-control-next {
        right: 3%;
    }

    .carousel-control-prev {
        left: 3%;
    }
    #toolsdetail{
        margin-top:0px;
    }
    .footer p {
        font-size: 0.65rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }
    .footer ul li {
        font-size: 0.75rem;
    }
    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }

    .fa-github {
        position: relative;
        left: 13px;
    }

    .fa-x-twitter {
        position: relative;
        left: 14px;
    }

    .fa-regular {
        position: relative;
        left: 19px;
    }
}