* {
    padding: 0;
    margin: 0;
    color: #dbd2d2;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
}

nav ul {
    list-style: none;
}

nav ul #left {
    position: absolute;
    left: 10%;
    top: 28px;
    font-size: 1.4rem;
}

nav ul #left a {
    text-decoration: none;
}

nav ul #right {
    position: absolute;
    right: 10%;
    top: 30px;
    cursor: pointer;
}

header img {
    position: absolute;
    left: 50%;
    top: 5%;
}

/* Section form */
#section {
    display: flex;
    justify-content: center;
    height: 80%;
    margin: 150px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

section h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 45px 0px;
    font-weight: lighter;
}

#container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form {
    width: 400px;
    height: 551px;
    border: 2px solid #625d5d;
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: transparent;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid#fff;
}

/* pop overs */

.popover {
    display: none;
    color: red;
    position: absolute;
    margin-top: 8px;
    font-size: 0.8rem;
}

.inputbox .popover {
    left: 0;
    bottom: -20px;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox input:not(:invalid)+label,
.inputbox input:focus+label {
    top: -5px;
    visibility: hidden;
    opacity: 0.7;
    font-size: 0.8rem;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    caret-color: white;
}

.inputbox i {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.mytextarea {
    position: relative;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.mytextarea label {
    font-size: 1em;
    position: absolute;
    top: 35px;
    left: 1%;
    font-size: 1em;
    pointer-events: none;
}

.mytextarea #text {
    background-color: transparent;
    outline: none;
    font-size: large;
    border: none;
    margin-top: 68px;
    width: 101%;
    margin-right: 6px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #030303;
    backdrop-filter: blur(15px);
    box-shadow: inset 2px 2px 10px white;
    outline: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    margin: 4px 0;
}

@media(hover:hover) {
    button:hover {
        opacity: 0.5;
    }

    nav ul #right:hover {
        opacity: 0.6;
    }
}

@media(hover:none) {
    button:active {
        opacity: 0.5;
    }

    nav ul #right:active {
        opacity: 0.6;
    }
}

.forget {
    display: flex;
    justify-content: space-between;
    margin: 30px 190px 15px 0px;
    font-size: 0.9em;
    color: #fff;
}

.forget label input[ type="checkbox"] {
    margin-right: 6px;
}

/* Responsive */
@media only screen and (max-width:1006px) {

    nav ul #left {
        font-size: 1.3rem;
    }

    header img {
        height: 40px;
    }

    section h3 {
        font-size: 1.3rem;
        margin: 35px 0px;
    }
}

@media only screen and (max-width:628px) {
    nav ul #left {
        margin: 0px -37px;
        font-size: 1.3rem;
    }

    section h3 {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width:450px) {
    header img {
        height: 30px;
    }

    nav ul #left {
        font-size: 1.2rem;
    }

    section h3 {
        font-size: 1.2rem;
    }

    button {
        margin: 4px 0 14px 0;
    }
}

@media only screen and (max-width:437px) {
    header img {
        height: 30px;
    }

    nav ul #left {
        font-size: 1.2rem;
    }

    section h3 {
        font-size: 1.05rem;
    }

    form {
        width: 314px;
        height: 478px;
    }

    .inputbox {
        margin: 15px 0;
        width: 250px;
        left: 20px;
    }

    .mytextarea {
        width: 250px;
        left: 20px;
    }

    .forget {
        position: relative;
        left: 20px;
    }

    button {
        position: relative;
        width: 80%;
        left: 20px;
    }

}

@media only screen and (max-width:355px) {

    header img {
        height: 30px;
    }

    nav ul #left {
        font-size: 0.9rem;
        left: 50px
    }

    nav ul #right {
        margin: 0px -20px;
    }

    section h3 {
        font-size: 0.9rem;
    }

    form {
        position: relative;
        height: 438px;
        width: 267px;
        /* margin: -21px; */
    }

    .inputbox {
        font-size: 0.85rem;
        position: relative;
        width: 210px;
        left: 45px;
    }

    .mytextarea {
        width: 210px;
        left: 45px;
    }

    .mytextarea label {
        top: 15%;
        font-size: 0.85rem;
    }

    .mytextarea #text {
        width: 200px;
        margin-top: 43px;
    }

    .forget {
        position: relative;
        left: 45px;
    }

    button {
        position: relative;
        left: 45px;
        width: 72%;
    }
}