* {
    padding: 0;
    margin: 0;
}

.leftsection p {
    width: 40%;
    padding-left: 20px;
}

.rightsection img {
    width: 117%;
}

.carousel-item>img {
    height: 90vh;
}

/* Toolchain box */
.box {
    width: 70vw;
}

@media only screen and (min-width:1115px) and (max-width: 1279px) {
    .leftsection p {
        width: 44%;
    }

    /* Hover menu of Project nav */
    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection .buttons {
        position: relative;
        left: 20%;
    }
}

@media only screen and (min-width:1025px) and (max-width: 1114px) {
    .leftsection p {
        width: 48%;
    }

    /* Hover menu of Project nav */
    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection .buttons {
        position: relative;
        left: 20%;
    }
}

@media only screen and (min-width:813px) and (max-width:1024px) {

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 510px;
    }

    #first img {
        width: 103vw;
    }

    nav ul {
        width: 112%;
    }

    nav ul li {
        margin: 0 6px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 100%;
        position: relative;
        top: 10px;
    }

    .leftsection p {
        width: 40%;
    }

    #element2 {
        width: 55%;
    }

    #element3 {
        width: 70%;
    }

    .firstsection .buttons {
        width: 40%;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection img {
        height: 115%;
        position: relative;
        top: -42px;
        left: 110px;
    }

    /* Toolchain box */
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 25%;
    }

    /* Footer */
    .footer {
        width: 103vw;
    }

    .footer ul li a {
        margin: 0 -15px;
    }
}

@media only screen and (min-width:700px) and (max-width:812px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
    }

    .leftsection p {
        width: 40%;
    }

    #element2 {
        width: 75%;
    }

    #element3 {
        height: 29%;
    }

    .firstsection .buttons {
        position: relative;
        left: 56%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px 0;
        width: 125%;
    }

    /* Toolchain box */
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 30%;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 1rem;
    }

    .footer ul li {
        margin: 21px 6px;
    }

    .footer ul li a {
        padding: 0 18px;
    }
}

@media only screen and (min-width:588px) and (max-width:699px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
    }

    .leftsection p {
        width: 47%;
    }

    #element2 {
        width: 75%;
    }

    #element3 {
        height: 29%;
    }

    .firstsection .buttons {
        position: relative;
        left: 46%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px 0;
        width: 125%;
    }

    /* Toolchain box */
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 39%;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul li {
        margin: 21px 6px;
    }

    .footer ul li a {
        padding: 0 18px;
    }
}

@media only screen and (min-width:500px) and (max-width:587px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
        right: 35px;
    }

    .leftsection p {
        width: 55%;
    }

    #element2 {
        width: 75%;
    }

    #element3 {
        height: 29%;
    }

    .firstsection .buttons {
        position: relative;
        left: 46%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px 0;
        width: 145%;
    }

    /* Toolchain box */
    .box {
        width: 80vw;
    }

    .box .items {
        margin: 17px;
        width: 39%;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }
    .fa-github{
        position: relative;
        left:13px;
    }
    .fa-x-twitter{
        position: relative;
        left:14px;
    }
    .fa-regular{
        position: relative;
        left:19px;
    }

}

@media only screen and (min-width:412px) and (max-width:499px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
    }

    nav .left {
        position: relative;
        top: 20px;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
        right: 70px;
    }

    .leftsection p {
        width:59%;
        font-size: 1.4rem;
    }

    #element2 {
        width: 75%;
    }

    #element3 {
        height: 29%;
    }

    .firstsection .buttons {
        position: relative;
        left: 46%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 13px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px -16px;
        width: 174%;
    }

    /* Toolchain box */
    .box {
        width: 85vw;
    }

    .box .items {
        width: 30%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.6rem;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }
    .fa-github{
        position: relative;
        left:13px;
    }
    .fa-x-twitter{
        position: relative;
        left:14px;
    }
    .fa-regular{
        position: relative;
        left:19px;
    }
}

@media only screen and (min-width:360px) and (max-width:411px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
        padding: 15px 4px;
        right: 11px;
    }

    nav .left {
        position: relative;
        top: 20px;
        font-size: 1.3rem;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
        right: 85px;
    }

    .leftsection p {
        width: 70%;
        font-size: 1.4rem;
    }

    #element2 {
        width: 75%;
        font-size: 1.7rem;
    }

    #element3 {
        height: 29%;
        font-size: 1.1rem;
    }

    .firstsection .buttons {
        position: relative;
        left: 40%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 11px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px -16px;
        width: 174%;
    }

    /* Toolchain box */
    .box {
        width: 85vw;
    }

    .box .items {
        width: 30%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.6rem;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }
    .fa-github{
        position: relative;
        left:13px;
    }
    .fa-x-twitter{
        position: relative;
        left:14px;
    }
    .fa-regular{
        position: relative;
        left:19px;
    }
}
@media only screen and (min-width:321px) and (max-width:359px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
        padding: 15px 1px;
        right: 11px;
        font-size: 0.9rem;
    }

    nav .left {
        position: relative;
        top: 20px;
        font-size: 1.3rem;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
        right: 85px;
    }

    .leftsection p {
        width: 70%;
        font-size: 1.2rem;
    }

    #element2 {
        width: 75%;
        font-size: 1.7rem;
    }

    #element3 {
        height: 29%;
        font-size: 1.1rem;
    }

    .firstsection .buttons {
        position: relative;
        left: 40%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 10px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px -36px;
        width: 208%;
    }

    /* Toolchain box */
    .box {
        width: 85vw;
    }

    .box .items {
        width: 30%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.55rem;
        background-size: 15%;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }
    .fa-github{
        position: relative;
        left:13px;
    }
    .fa-x-twitter{
        position: relative;
        left:14px;
    }
    .fa-regular{
        position: relative;
        left:19px;
    }
}
@media only screen and (min-width:200px) and (max-width:320px) {

    nav {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }

    nav ul li {
        margin: 0 6px;
    }

    nav ul li a {
        letter-spacing: 0;
        padding: 15px 0px;
        right: 22px;
        font-size: 0.75rem;
    }

    nav .left {
        position: relative;
        top: 20px;
        font-size: 1.1rem;
    }

    /* offcanvas About */
    .offcanvas {
        --bs-offcanvas-width: 380px;
    }

    #project:hover {
        #dropdowncontent {
            display: none;
        }
    }

    .firstsection {
        flex-direction: column;
    }

    .leftsection {
        width: 118%;
        position: relative;
        top: 40px;
        right: 85px;
    }

    .leftsection p {
        width: 65%;
        font-size: 1rem;
    }

    #element2 {
        width: 75%;
        font-size: 1.5rem;
    }

    #element3 {
        height: 29%;
        font-size: 1rem;
    }

    .firstsection .buttons {
        position: relative;
        left: 40%;
        top: 30px;
    }

    .firstsection .buttons a {
        font-size: 10px;
    }

    .rightsection {
        width: 45%;
    }

    .rightsection img {
        margin: 23px -36px;
        width: 208%;
    }

    /* Toolchain box */
    .box {
        width: 85vw;
    }

    .box .items {
        width: 28%;
        height: 32px;
        justify-content: flex-end;
        padding: 0 4px;
        font-size: 0.5rem;
        background-size: 12%;
    }

    .box #items1 {
        background-position: 10px;
    }

    .box #items2 {
        background-position: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer p {
        font-size: 0.65rem;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        flex-wrap: wrap;
    }

    .footer ul li:nth-child(2) a {
        padding: 0 46px;
    }

    .footer ul li:nth-child(4) a {
        padding: 0 55px;
    }
    .fa-github{
        position: relative;
        left:13px;
    }
    .fa-x-twitter{
        position: relative;
        left:14px;
    }
    .fa-regular{
        position: relative;
        left:19px;
    }
}
